
@font-face {
    font-family:"Trickster";
    src:url(../fonts/Trickster-Regular.woff2) format("woff2"),
    url(../fonts/Trickster-Regular.woff) format("woff");
    font-weight:900;
}

@font-face {
    font-family:"Karrick";
    src: url(../fonts/Karrik-Regular.woff2),
    url(../fonts/Karrik-Regular.woff);
}

@font-face {
    font-family:"Minipax";
    src: url(../fonts/Minipax-Medium.woff2),
    url(../fonts/Minipax-Medium.woff);
}

@keyframes widget {
    0% { 
        
      transform: rotate(-90deg) translateY(0);
      
       
    }
    100% { 
        transform: rotate(-90deg) translateY(-5px); 
      
    }
  }

  @keyframes face {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* body style */

@media only screen and (max-width: 900px) {
    body {
        
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2348b848' fill-opacity='0.74' fill-rule='evenodd'/%3E%3C/svg%3E"); 
    }
      
    h1 {
        font-family: "Trickster", Georgia, 'Times New Roman', Times, serif;
        font-size: 5em;
        text-align: center;
    }

    h2 {
        font-family: "Trickster", Georgia, 'Times New Roman', Times, serif;
        text-align: center;   
        color: #f6bc15;
    }

    .menu-buttons{ 
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 45px;
    }

    .menu-buttons img {
        height: 120px;
    width: 120px;
        
    }

    .scroll-content-left p {
        font-family: "Karrick";
    text-align: justify;
    margin-top: 1em;
    font-size: 1.25em;
    }

    .scroll-content-right p {
        font-family: "Karrick";
        margin-top: 1em;
        text-align: justify;
        font-size: 1.25em;
    }

    .widget {
        max-height: 75px;
        max-width: 75px;
        transform: rotate(-90deg);
        position: fixed;
        top: 1em;
        left: 0.5em;
        animation: widget 1s infinite alternate ease-in;
    }

    .scroll-content-left img {
        object-fit: cover;
        mix-blend-mode: darken;
        align-content: center;
    }
    
    .scroll-content-right img{
        object-fit: cover;  
        mix-blend-mode: luminosity;       
    }


  }


@media only screen and (min-width: 900px) {
body {
    background-color: #f6bc15;
    margin-bottom: 1em;
    scroll-behavior: smooth;
    background-color: #fefdff;
background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2348b848' fill-opacity='0.74' fill-rule='evenodd'/%3E%3C/svg%3E");
}

h1 {
    font-family: "Trickster", Georgia, 'Times New Roman', Times, serif;
    font-size: 10em;
    text-align: center;
}

h2 {
    font-family: "Trickster", Georgia, 'Times New Roman', Times, serif;
    font-size: 20em;
    text-align: center;   
    color: #f6bc15;
}

/* classes */

.clearfix {
    overflow: auto;
}

.scroll-content-left p {
    font-family: "Karrick";
    /* float: right; */
    height: 480px;
    width: 240px;
overflow:scroll;
text-align: justify;
margin-top: 1em;
font-size: 3em;

}

.wrapper {
    column-count: 3;
    columns: 3;
    margin-left: 120px;
    

}

.scroll-content-left img {
    /* float:left; */
    height: 480px;
    width: 480px;
    object-fit: cover;
    mix-blend-mode: luminosity;
    
    

}

.scroll-content-right p{
    font-family: "Karrick";
    /* float: left; */
    height: 480px;
    width: 240px;
    overflow: scroll;
    /* padding: 240px; */
    margin-top: 1em;
    text-align: justify;
    font-size: 3em;
}

.scroll-content-right img{
    /* float:right;  */
    height: 480px;
    width: 480px;
    object-fit: cover;  
    mix-blend-mode: luminosity; 
    
}

.widget {
    max-height: 150px;
    max-width: 150px;
    transform: rotate(-90deg);
    position: fixed;
    top: 1em;
    left: 0.5em;
    animation: widget 1s infinite alternate ease-in;
}

.menu-buttons{ 
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 90px;
}

.menu-buttons img {
    height: 240px;
width: 240px;
    
}

img:hover {
    mix-blend-mode: normal;
}

.clicc-here {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    animation: face 5s infinite alternate ease-in-out;
}

.clicc-here:hover {
    animation: face 0s ease-in-out;
}
}
